<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title | AMS</title>
    <!-- CSS Stylesheets -->
    <link href="~/dist-assets/fonts/fontawesome6/pro/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist-assets/css/plugins/toastr.css" />
    <link href="~/dist-assets/DataTable/DataTables-1.13.6/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/dist-assets/css/plugins/datatables.min.css" rel="stylesheet" />
    <link href="~/dist-assets/css/plugins/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="~/dist-assets/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS.css" rel="stylesheet" />
</head>
<body class="text-start">
    <div class="spinner-container" style="display:none;">
        <div class="spinner-bubble spinner-bubble-gray-300"></div>
    </div>
    <div class="app-admin-wrap layout-sidebar-large">
        <div class="main-header">
            <div class="logo">
                <img src="~/dist-assets/images/ams-logo.png" style="height:65px; width:65px;" />
            </div>
            <div class="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="d-flex align-items-center">

            </div>
            <div style="margin: auto"></div>
            <div class="header-part-right">
                <!-- Full screen toggle -->
                <i class="fa fa-expand header-icon d-none d-sm-inline-block"
                   data-fullscreen></i>
            </div>
        </div>
        <div class="side-content-wrap">
            <div class="sidebar-left open rtl-ps-none"
                 data-perfect-scrollbar=""
                 data-suppress-scroll-x="true">
                <ul class="navigation-left">
                    <li class="nav-item no-open" data-item="">
                        <a class="nav-item-hold" href="/Home/Dashboard">
                            <i class="fa fa-chart-bar fa-lg"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" data-item="manage">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-sliders-h fa-lg"></i><span class="nav-text">Manage</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item no-open" data-item="">
                        <a class="nav-item-hold" href="/Order/Index">
                            <i class="fas fa-shopping-cart fa-lg"></i><span class="nav-text">Orders</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
                <!-- Submenu Dashboards-->
                <ul class="childNav" data-parent="manage">
                    <li class="nav-item">
                        <a href="/Supplier/Index">
                            <i class="fas fa-truck"></i><span class="item-name" style="margin-left:15px;font-size:15px;">Suppliers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Products/Index">
                            <i class="fas fa-truck"></i><span class="item-name" style="margin-left:15px;font-size:15px;">Products</span>
                        </a>
                    </li>

                </ul>
                <ul class="childNav" data-parent="attendance">
                    <li class="nav-item">
                        <a href="/Attendance/Index">
                            <i class="fa fa-table"></i><span class="item-name" style="margin-left:15px;font-size:15px;">View Attendance</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown-sidemenu">
                        <a>
                            <i class="fa fa-calendar"></i><span class="item-name" style="margin-left:15px;font-size:15px;">Add Attendance</span><i class="dd-arrow fa fa-chevron-down"></i>
                        </a>
                        <ul class="submenu">
                            <li><a href="/Attendance/AddAttendanceForCardHolders">For Card Holders</a></li>
                            <li><a href="/Attendance/AddAttendanceForLabours">For Labours</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="sidebar-overlay"></div>
        </div>
        <!-- =============== Left side End ================-->
        <div class="main-content-wrap sidenav-open d-flex flex-column">
            <!-- ============ Body content start ============= -->
            <div class="main-content">
                @RenderBody()
                <!-- end of main-content -->
            </div>
            <!-- Footer Start -->
            <div class="flex-grow-1"></div>
            <div class="app-footer text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>About Cactus General Transport</h5>
                            <p class="text-muted">
                                We are committed to providing efficient transport solutions
                                with a focus on reliability and customer satisfaction.
                                Everyday is a new day for us and we work really hard to satisfy our customer. Cactus General Transport is leading the way when it comes to providing quality heavy equipment rental.
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <p class="text-25 text-primary">A Project by GIMS Student</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <ul class="list-inline social-icons">
                                <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/dist-assets/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/dist-assets/js/scripts/dashboard.v1.script.min.js"></script>
    <script src="~/dist-assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="~/dist-assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/customScript.min.js"></script>
    <script src="~/dist-assets/js/plugins/echarts.min.js"></script>
    <script src="~/dist-assets/js/scripts/echart.options.min.js"></script>
    <script src="~/dist-assets/js/scripts/customizer.script.min.js"></script>
    <script src="~/dist-assets/js/plugins/toastr.min.js"></script>
    <script src="~/dist-assets/js/plugins/datatables.min.js"></script>
    <script src="~/dist-assets/js/scripts/datatables.script.min.js"></script>
    <script src="~/dist-assets/js/scripts/echarts.script.min.js"></script>
    <script src="~/dist-assets/js/scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/custom-sidebar.large.script.js"></script>
    <script src="~/Scripts/custom-sidebar.js"></script>
    @*<script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function hideAlerts() {
        $('#successAlert, #errorAlert').fadeOut(2000, function () {
            $(this).hide();
        });
    }
    function showSpinner() {
        $('.spinner-container').show();
    }
    function hideSpinner() {
        $('.spinner-container').fadeOut();
    }
    var excludedUrls = ['/supplier/issuppliernameavailable', '/quotation/getproductbyid', '/order/filteredorders'];

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            var baseUrl = settings.url.split('?')[0].toLowerCase();
            if (excludedUrls.includes(baseUrl)) {
                return;
            } else {
                showSpinner();
            }
        },
        complete: function () {
            hideSpinner();
        }
    });

    $(document).ready(function () {
        $(".no-open").hover(function () {
            $(".sidebar-left-secondary").removeClass("open");
        });
    });

</script>